<%= form_for @quotes do |f| %>
    <div class="form-control">
        <%= f.label :building_type %>
        <%= f.text_field :building_type %>
    </div>
    <div class="form-control">
        <%= f.submit 'Submit' %>
    </div>
<% end %>