<%= form_with(model: testq, local: true) do |form| %>
  <% if testq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testq.errors.count, "error") %> prohibited this testq from being saved:</h2>

      <ul>
      <% testq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
