<% if current_user%>
<p>you are singed in</p>

<%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %>

<% else %>
<p>you are NOT singed in</p>

<%= link_to "Sign up", new_user_registration_path%>

<%= link_to "Login", new_user_session_path%>

<%end%>
