<div id="container_map" class="container">
    <h3 class="text-center">CUSTOMERS LOCATION</h3>
    <div id="map_section" class="row">
        <div class="col-md-12" id="map"> <!-- GOOGLE MAPS --> </div>
    </div>
    <div id="stats_section" class="row" style="margin-top:20px;">
        <div class="col-md-12">
            <ul id="stats">
                <li id="l_building">Location of the Building: </li>
                <li id="nb_floor">Number of floors in the building: </li>
                <li id="c_name">Client name: </li>
                <li id="nb_batteries">Number of Batteries: </li>
                <li id="nb_columns">Number of Columns: </li>
                <li id="nb_elevators">Number of Elevators: </li>
                <li id="tech_name">Full name of technical contact: </li>
            </ul>
        </div>
    </div>
</div>
