<%# <%= javascript_include_tag 'quote', media: 'all', 'data-turbolinks-track': 'reload' %> 
		<!-- WELCOME PAGE -->
<section>
		<p style="text-align:center"><strong>QUOTE FORM</strong></p>
		<hr>

		<!--FORM-->

		<form id="myForm">
			<div class="container">
				<div class="row menu">
					<div class="col">
						<label for="building_type">Specify building type:</label>
					</div>
					<div class="col">
						<select id="building-type" name="building_type">
							<option id="empty" value="empty">SELECT BUILDING TYPE</option>
							<option id="residential" value="residential">Residential</option>
							<option id="commercial" value="commercial">Commercial</option>
							<option id="corporate" value="corporate">Corporate</option>
							<option id="hybrid" value="hybrid">Hybrid</option>
						</select>
					</div>
				</div>
				<hr>

				<!--/For RESIDENTIAL-->

				<div class="row residential" id="number-of-apartments">
					<div class="col">
						<div>
							<label>N. of apartments</label>
						</div>
					</div>
					<div class="col">
						<input type="number" name="number_of_apartment" min="1" id="reset" class="quote-input">
					</div>
				</div>

				<div class="row residential commercial corporate hybrid" id="number-of-floors">
					<div class="col">
						<div>
							<label>N. of floor</label>
						</div>
					</div>
					<div class="col">
						<input type="number" name="number_of_floor" min="1" id="reset" class="quote-input">
					</div>
				</div>

				<div class="row residential commercial corporate hybrid" id="number-of-basements">
					<div class="col">
						<div>
							<label>N. of basements</label>
						</div>
					</div>
					<div class="col">
						<input type="number" name="number_of_basement" min="1" id="reset" class="quote-input">
					</div>
				</div>

				<!--For COMMERCIAL-->

				<div class="row commercial hybrid" id="number-of-companies">
					<div class="col">
						<div>
							<label>N. of businesses</label>
						</div>
					</div>
					<div class="col">
						<input type="number" name="distinct_buisnesses" min="1" id="reset" class="quote-input">
					</div>
				</div>

				<div class="row commercial corporate hybrid" id="number-of-parking-spots">
					<div class="col">
						<div>
							<label>N. of parking space</label>
						</div>
					</div>
					<div class="col">
						<input type="number" name="number_of_parking" min="1" id="reset" class="quote-input">
 							 </div>
					</div>
					  
					<div class="row commercial" id="number-of-elevators">
						<div class="col">
							<div>
								<label>N. of elevators</label>
							</div>
						</div>
						<div class="col">
							<input type="number" name="elevator_cages" min="1" id="reset" class="quote-input">
						</div>
					</div>

					<!--For CORPORATE-->

					<div class="row corporate" id="number-of-corporations">
						<div class="col">
							<div>
								<label>N. of companies</label>
							</div>
						</div>
						<div class="col">
							<input type="number" name="tenant_companies" min="1" id="reset" class="quote-input">
						</div>
					</div>

					<div class="row corporate hybrid" id="maximum-occupancy">
						<div class="col">
							<div>
								<label>Max n. of occupants/floor</label>
							</div>
						</div>
						<div class="col">
							<input type="number" name="occupants_per_floor" min="1" id="reset" name="focus" class="quote-input">
						</div>
					</div>

					<!--For HYBRID-->

					<div class="row hybrid" id="business-hours">
						<div class="col">
							<div>
								<label>N. of hours of activity (max 24)</label>
							</div>
						</div>
						<div class="col">
							<input type="number" name="activity" min="1" max="24" id="reset" class="quote-input">
						</div>
					</div>


					<!--RADIO FORM-->

					<div class="row radios">
						<div class="col">
							<label for="standard">Standard</label>
						</div>
						<div class="col">
							<input type="radio" id="standard" name="product_line" value="Standard">
						</div>
					</div>

					<div class="row radios">
						<div class="col">
							<label for="premium">Premium</label>
						</div>
						<div class="col">
							<input type="radio" id="premium" name="product_line" value="Premium">
						</div>
					</div>

					<div class="row radios">
						<div class="col">
							<label for="excelium">Excelium</label>
						</div>
						<div class="col">
							<input type="radio" id="excelium" name="product_line" value="Excelium">
						</div>
					</div>



					<!--CONCLUSION-->

					<div class="row answer" id="elevator-amount">
						<div class="col">
							<div>
								<label>N. of elevators</label>
							</div>
						</div>
						<div class="col">
							<input type="text" name="amount_of_elevators" id="answers" id="reset" readonly>
						</div>
					</div>

					<div class="row answer" id="elevator-unit-price">
						<div class="col">
							<div>
								<label>Price/elevator</label>
							</div>
						</div>
						<div class="col">
							<input type="text" name="unit_price" id="answers" id="reset" readonly>
						</div>
					</div>

					<div class="row answer" id="elevator-total-price">
						<div class="col">
							<div>
								<label>Elevator total price</label>
							</div>
						</div>
						<div class="col">
							<input type="text" name="total_price" id="answers" id="reset" readonly>
						</div>
					</div>

					<div class="row answer" id="installation-fees">
						<div class="col">
							<div>
								<label>Installation fees</label>
							</div>
						</div>
						<div class="col">
							<input type="text" name="installation_fee" id="answers" id="reset" readonly>
						</div>
					</div>

					<div class="row answer" id="final-price">
						<div class="col">
							<div>
								<label>The final price</label>
							</div>
						</div>
						<div class="col">
							<input type="text" name="final-price" id="answers" id="reset" readonly>
						</div>
					</div>

				</div>
			</div>
		</form>

        <%= javascript_include_tag 'quote', media: 'all', 'data-turbolinks-track': 'reload' %>

                <br></br>
        <br></br>
        <br></br>
        <br></br>
    </section>

