
		<!-- wrapper -->

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				. 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			--><div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
			<div class="container float-right" style="color: white; margin-top: 10%; margin-right: 5%;">


					<div class="tp-caption customin ltl tp-resizeme large_bold_white"style="text-align:right ;">Corporate Solutions</div>

					<div class="container" style="margin-top: 5% ;">
                        <%= image_tag "AdobeStock_179073967.jpeg", :size => '420x240', :align=> "middle"%>
						<h1> Let our team of inudustry leaders take care of your next project </h1>
						<h2> We've  built over <b>10,000</b> houses !</h2>
						<h3> Pricing is easy at Rocket Elevator, we charge a flat base fee adding up per level </h3>
						
							<div class="tp-caption customin ltl tp-resizeme" style="text-align:right ; margin-top: 2%;">
										<a href="quote.html" class="btn bg-maroon btn-lg">
											<span style="color: white;">FREE QUOTE</span> 
										</a>
							</div>
					</div>
			
			</div>




			</div>













