
	

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->


				<!-- Video Background-->
	<body class="smoothscroll enable-animation "></body>
	
	<%= video_tag "grand.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video"  %>

		<%# video_tag("OtisElevatorGlobalMajorProjects.mp4") %>
	

	
		


			<div class="container" style="color: white; margin-top: 10%; margin-left: 5%; margin-bottom: 25%;">


					<div class="tp-caption customin ltl tp-resizeme large_bold_white">Corporate Solutions</div>

					<div class="container" style="margin-top: 5% ;">

						<div class="tp-caption customin ltl tp-resizeme small_light_white">Let our team of inudustry leaders take care of your next project </div>
						<div class="tp-caption customin ltl tp-resizeme small_light_white">We worked on the Burj Khalifa, we know a thing or two about how to make an elevator</div>
						<div class="tp-caption customin ltl tp-resizeme small_light_white">Pricing is easy at Rocket Elevator, we charge a flat base fee of 15000$ with an extra 1000$ per level </div>
						
							<div class="tp-caption customin ltl tp-resizeme">
										<a href="quote.html" class="btn bg-maroon btn-lg " style=" margin-top: 2%;">
											<span style="color: white;">FREE QUOTE</span> 
										</a>
							</div>
					</div>
			
			</div>











